.body-header{
    position: relative;
    background-image: url("../img/3.jpg");
    background-position: 25% 40%;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 125px 0;
    font-family: "Alice";
    text-align: center;
    
}

.body-header::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.body-header h1{
    margin: 0;
    position: relative;
    color: white;
    font-size: 40pt;
}

.about-section{
    padding: 100px 75px;
    text-align: center;
}

.about-section h3{
    font-size: 36pt;
    font-family: "Alice";
}

.about-section p{
    font-size: 25pt;
    font-family: "Lato";
}

.vision-section{
    background-color: #F4F4F4;
    display: flex;
    padding: 50px 150px;
    font-family: "Alice";
    align-items: center;
    visibility: hidden;
}

.vision-section h2{
    border-right: 2px solid black;
    font-size: 50pt;
    text-align: right;
    padding: 20px 40px;
    margin-right: 40px;
}

.vision-section p{
    font-size: 20pt;
    font-family: Lato;
}

.contact-section{
    padding: 40px 20px;
    text-align: center;
}

.scroll-img-container{
    display: flex;
    justify-content: space-around;
    background-image: url("../img/4.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    padding: 100px 0;
    
}

.txt-container{
    background-color: white;
    width: 30%;
    padding: 50px 100px;
}

.txt-container h4{
    font-family: "Alice";
    font-size: 28pt;
    margin: 0;
}

.txt-container p{
    font-size: 12pt;
    font-family: Lato;
    margin: 20px 0 40px;
}

.txt-container a{
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: #8C6D6C;
}

@keyframes slide-in {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in{
    visibility: visible;
    animation: slide-in 2s forwards;
}