# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
/.vs/HerAI_Web1/FileContentIndex/47a3dcd5-aae8-4976-a4dc-e15a688149f9.vsidx
/.vs/HerAI_Web1/FileContentIndex/817ce0b4-cf7f-4b1c-bfd4-a9a05ec2eab7.vsidx
/.vs/HerAI_Web1/FileContentIndex/25281ff2-7c67-4244-828b-d2e43dc55e34.vsidx
/.vs/HerAI_Web1/FileContentIndex/b91c2af5-a02e-4a00-9c5d-265df830ee07.vsidx
/.vs/HerAI_Web1/FileContentIndex/c8ef41a1-0152-4716-8a3f-3779050174f4.vsidx
/.vs/HerAI_Web1/FileContentIndex/436c00e0-6589-4d14-91a0-a7ddb16e70f7.vsidx
/.vs/HerAI_Web1/FileContentIndex/b9a7c9a6-b299-46a1-807e-df586ddb4d85.vsidx
/.vs/HerAI_Web1/FileContentIndex/b076c3c1-7efb-41f4-a99d-58e4ce479275.vsidx
/.vs/HerAI_Web1/FileContentIndex/0a536ef5-12c8-428c-9d72-1d6a65c026c7.vsidx
/.vs/HerAI_Web1/FileContentIndex/6c1f06dc-872b-43e6-b260-287ccace5c96.vsidx
/.vs/HerAI_Web1/FileContentIndex/77ebc6a3-43ef-495a-878a-4630ffa77fe4.vsidx
/.vs/HerAI_Web1/FileContentIndex/fb2f558e-02a2-45ea-812d-92d09dbc0442.vsidx
/.vs/HerAI_Web1/FileContentIndex/60fa02a1-d322-454d-9ea5-d829bdc8d5a1.vsidx
/.vs/HerAI_Web1/FileContentIndex/ef99421d-bf21-4601-8d24-39434aa5c272.vsidx
/.vs/HerAI_Web1/FileContentIndex/bae83a8d-6826-4966-8bbb-59d468c6f4f1.vsidx
/.vs/HerAI_Web1/FileContentIndex/9d93ccf4-e7f5-4485-8e69-68faaf83a3ad.vsidx
/.vs/HerAI_Web1/FileContentIndex/12759dea-0eed-45cd-8215-be50b49744e6.vsidx
/.vs/HerAI_Web1/FileContentIndex/6f0a3268-7884-43c3-bc27-29c59cbeacfe.vsidx
