.footer{
    background-color: #FFF2EB;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 10pt;
    padding: 75px 50px;
    align-items:flex-start;
}

.links-column{
    display: flex;
    flex-direction: column;
}

.links-column a{
    text-decoration: none;
    color: black;
    font-family: "Lato";
    margin-bottom: 10px;
}

img{
    margin: 0;
    height: 75px;
    margin-right: 200px;
}

#contact-btn{
    background-color: black;
    color: white;
    padding: 15px 70px;
}