.events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events-re{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 500px;
    height: 30px;
    background-color: #8c6d6c;
    color: white;
    border-radius: 15px;
    cursor: pointer;


}
.event-btns{
    display: flex;
}
.events-re:hover{
    background-color: #a89999;

}

.content{
    display: block;
}

/*extra small devices (phones, etc)*/
@media(max-width: 600px){
    .events-re{
        width: 200px;
        height: 20px;
    }
}
/*medium devices*/

@media(min-width: 768px){
    .events-re{
        width: 400px;
        height: 30px;
    }
}

/*large devices (laptops*/
@media(min-width: 992px){
    .events-re{
        width: 500px;
        height: 30px;
    }
}

