.upcoming-container {
    
    height: 600px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
   
}

.upcoming-container h1{
    font-size: 40pt;
}

.event{
    display: flex;
    flex-direction: column;
}

.event h2{
    font-size: 30pt;
}

.event p {
    width: 50%;
    font-size: 12pt;
    font-family: lato;
}

.check-btn{
    background-color: #8C6D6C;
    color:white;
    border-radius: 10px;;
    padding: 20px 80px;
    margin-top: 20px;
    width: fit-content;
    font-family: lato;
    font-weight: 800;
}

.dots{
    display: flex;
    justify-content:center;
    background-color: #FFF2EB;
    padding: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#active-dot{
    background-color: #717171;
}
