body {
    background-color: #f8f6ee;
}

.blog-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2e2e2e;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.publish-button {
    background-color: #8c6d6c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    width: 200px; /* Smaller width */
    cursor: pointer;
    transition: background-color 0.3s;
}

.publish-button:hover {
    background-color: #7c5f5f; /* Darker on hover */
}