.carousel{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height:550px;
    margin: 20px;
    
}
.prev-container{
    display: flex;
    flex-direction: row;
}

.slide{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;

}
.slide-hidden{
    display: none;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555)
}

.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.arrow:hover{
    cursor: pointer;
}
.indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;

}

.indicator{
    background-color: white;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive{
    background-color: grey;
}

.blacktie-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.blacktie-description h3{
    color: #8C6D6C; /* Change to match your site's color scheme */
    font-size: 34px;
    margin-bottom: 20px;
}
.blacktie-description p{
    color: #e1e1e1; /* Change to match your site's color scheme */
    font-size: 24px;
    margin-bottom: 20px;
    width: 500px;
    height: 200px;
    background-color: #8C6D6C;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #666;

}