nav {
    position: sticky;
    top:0;
    z-index: 200;
    display: flex;
    justify-content:space-between;
    background-color: #FFF2EB;
    margin: 0;
    padding: 20px 100px;
    width:auto;
    transition: background-color 0.5s, padding 0.5s;
}

nav.scrolled{
    background-color: white;
    padding: 15px 100px;
}

#nav-logo {
    height: 50px;
    /* margin-left: 100px; */
}

.links{
    display: flex;
    margin: 0 10px;
}

.link{
    margin: auto 30px;
    text-decoration: none;
    color: black;
}

.active{
    font-weight: bold;
}

/* button{
    background-color: black;
    padding: 10px 75px;
    margin: 0;
    border: none;
} */

.login{
    display: flex;
    text-decoration: none;
    background-color: black;
    padding: 10px 75px;
    margin: 5px 0;
    color: white;
}

.login.active{
    font-weight: normal;
}