.footer{
    background-color: #8c6d6cea;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 75px 50px;
    align-items:flex-start;
}

.links-column{
    display: flex;
    flex-direction: column;
}

.links-column a{
    text-decoration: none;
    color: black;
    font-family: "Signika";
    margin-bottom: 10px;
    font-size: 11pt;
}

.footer p{
    font-family: Signika;
    font-weight: 300;
    font-size: 12pt;
}

#footer-logo{
    margin: 0px;
    height: 75px;
    /* width: 90px; */
}

#contact-btn{
    background-color: #2E353B;
    color: white;
    font-size: 10pt;
    padding: 10px 60px;
}

/*Icons CSS*/
#socialsFooter {
    display: flex;
    padding-bottom: 10px;
    margin-left: -20px;
    

}
.iconFooter{
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 8px;
    
}

@media (max-width: 768px){
    #socialsFooter {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    #footer-logo{
       height: 60px;
       margin: 10px 0;
    }

    #contact-btn {
        text-align: center; 
    }

    .links-column{
        font-size: 11pt;
    }

    .footer p{
        font-size: 12pt;
        margin: 10px 0;
    }
}